.section{
    justify-content: center;
    text-align: center;
    border: 5px solid gold;
    margin: 50px 400px 20px 400px ;
    padding-bottom: 30px;
    border-radius: 20px;
}
input{
    margin-bottom: 20px;
    width: 400px;
    height: 65px;
    font-size: 20px;
    color: brown;
    background-color: antiquewhite;
}
.btn1{
    padding: 6px 19px 6px 19px;
    background-color: goldenrod;
    color: black;
    font-size: 17px;
    margin-right: 15px;
    border: none;
    border-radius: 12px;
}
.btn2{
    padding: 6px 19px 6px 19px;
    background-color: goldenrod;
    color: black;
    font-size: 17px;
    margin-left: 15px;
    border:none;
    border-radius: 12px;
}
::placeholder{
    justify-content: center;
    text-align: center;
    font-size: 15px;
}
